:root {
  --loading-grey: #ededed;
  --scrollw: 12px;
}

::-webkit-scrollbar {
  background: #FCF6E3;
  width: var(--scrollw);
}

::-webkit-scrollbar-thumb {
  background: #DBD3BE;
  border-radius: var(--scrollw);
}

::-webkit-scrollbar-button {
  background: #dfcc9c;
  width: var(--scrollw);
  height: var(--scrollw);
  border-radius: 50%;
}

body {
  background: #f6f6f6;
  font-size: 15px;
  margin: 0px;
  min-height: 100vh;
  font-family: Georgia;
}

nav {
  width: calc(100vw - var(--scrollw));
  height: calc(100vh + 40px);
  background: linear-gradient(45deg, tomato, yellow);
  color: white;
  font-family: 'Open Sans', sans-serif;
  top: 0px;
  left: 0px;
  z-index: 1000;
  text-align: left;
}

nav table tbody tr {
  width: calc(100vw - var(--scrollw));
  height: 40px;
  font-size: 20px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1001;
}

nav table tbody tr td:nth-of-type(1) {
  padding-top: 5px;
}

nav table tbody tr td strong {
  visibility: hidden;
}

nav p {
  text-align: center;
  margin-top: 50vh;
  transform: translateY(-50%);
  font-size: 4rem;
}

.shareicons {
  position: absolute;
  top: 4px;
  cursor: pointer;
  z-index: 1000;
}

#gh {
  right: 55px;
  opacity: 70%;
}

#gh:hover {
  opacity: 100%;
}

#gl {
  right: 4.5px;
  opacity: 70%;
}

#gl:hover {
  opacity: 100%;
}

#projects {
  margin: 75px 5px 0px 20px;
}

.skeleton {
  margin-left: 40px;
}

.textblock {
  position: sticky;
  border-right-style: solid;
  border-right-width: 2px;
  height: fit-content;
  top: 43px;
}

.note {
  font: inherit;
  font-weight: bold;
  position: absolute;
  transform: translate(-100%, -100%) rotate(-90deg);
  transform-origin: bottom right;
}

#p-glitch .note::before {
  content: "";
  background-image: url(assets/glitch-day.svg);
  background-repeat: none;
  background-size: cover;
  width: .75rem;
  height: .75rem;
  display: inline-block;
}

.block {
  margin-left: 10px;
}

.cell {
  display: inline-block;
  padding: 20px;
  overflow: hidden;
}

.card {
  width: 320px;
  height: 380px !important;
  max-height: 380px !important;
  position: static;
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, .12);
}

.image {
  height: 200px;
}

.image img {
  display: block;
  width: 100%;
  height: inherit;
  object-fit: cover;
}

.content {
  padding: 2rem 1.8rem;
}

h4 {
  margin: 0 0 1rem;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.description {
  font-size: 1rem;
  line-height: 1.4rem;
  font-style: italic;
}

.type {
  position: relative;
  bottom: 5px;
  font-size: 11px;
  font-family: Helvetica;
  font-weight: bold;
}

.loading .image,
.loading h4,
.loading .description .type {
  background: linear-gradient(100deg, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, .5) 50%, rgba(255, 255, 255, 0) 60%) var(--loading-grey);
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 1s loading ease-in-out infinite;
}

@keyframes loading {
  to {
    background-position-x: -20%;
  }
}

.loading h4 {
  min-height: 1.6rem;
  border-radius: 4px;
  animation-delay: .05s;
}

.loading .description {
  min-height: 4rem;
  border-radius: 4px;
  animation-delay: .06s;
}

#icon {
  height: fit-content;
}