#nav {
    background: rgb(255,0,0);
    background: linear-gradient(45deg, rgba(255,0,0,1) 0%, rgba(255,255,0,1) 100%);
    color: white;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 2px 2px 2px #11111122;
    width: 100%;
    padding: 0px 0px 0px 30px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1000;
    text-align: left;
    height: 42px;
}

#icon {
    height: fit-content;
}